Flask
python-dotenv
pandas
shopifyapi
openai
Flask-Mail
Flask-SocketIO
celery[redis]
Flask-Caching
Flask-Babel
Flask-Login
Flask-Talisman
stripe
twilio
sentry-sdk
Flask-RESTX
facebook-business
google-ads
tiktok-business-sdk
tenacity
